* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family: cursive;
}
  
a {
    text-decoration: none;
}

li {
    list-style: none; 
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;   
}
    
.nav-links a {    
    color: #fff;
}

/* LOGO */    
.logo {    
    font-size: 32px;
}
    
/* NAVBAR MENU */    
.menu {    
    display: flex;
    gap: 1em;
    font-size: 18px;
}
    
.menu li:hover {    
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
    
.menu li {    
    padding: 5px 14px;
}

.services {    
    position: relative; 
}
  
/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
  }
    
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


  * {
    box-sizing: border-box;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px 10px;
  }
  
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
 
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }